<article>
    <h1 id="service">Service</h1>
    <div class="card mt-3">
    <div class="p-3">
        <ul class="card-text font-weight-light list-group list-group-flush">

            <li class="list-group-item">
                <span style="color: #0076df;">Student Volunteer Chair:</span> ACL 2024
            </li>

            <li class="list-group-item">
                <span style="color: #0076df;">Area Chair:</span> ACL 2024, EMNLP 2024, COLING 2025
            </li>

            <li class="list-group-item">
                <span style="color: #0076df;">Area Chair:</span> ACL 2023 (Question Answering Track)
            </li>

            <li class="list-group-item">
                <span style="color: #0076df;">Senior Program Committee Member:</span> IJCAI 2021
            </li>

            <li class="list-group-item">
                <span style="color: #0076df;">Reviewer/Program Committee:</span> ACL, EMNLP, NAACL, COLING, TACL, AAAI, IJCAI, TASLP
            </li>

        </ul>
    </div>
    </div>
</article>