<article>
    <h1 id="invited-talks">Invited Talks</h1>
    <div class="card mt-3">
    <!-- Talk Title 1 -->
    <div class="p-3">
        <div class="row ml-1">
            <div class="col-sm-10">
                <h5 style="color: #0076df;">Empowering Large Language Models with Faithful Reasoning</h5>
            </div>
            <div class="col-sm-2">
                {% comment %} <a class="badge blue waves-effect" role="button" style="font-size: 1rem; margin-left:3rem;" href="">Slides</a> {% endcomment %}
            </div>
        </div>
        
        <ul class="card-text font-weight-light list-group list-group-flush">
        
        <li class="list-group-item">
            <div class="row">
            <div class="col-sm-2">
                <span class="badge light-blue darken-1 font-weight-bold align-middle date ml-1" style="font-size: 90%">
                &nbsp; 2024-07 &nbsp;
                </span>
            </div>
            <div class="col-sm-8" style="margin-left:-2rem;">
                Invited talk at Peking University, Department of Computer Science
            </div>
            <div class="col-sm-2"> 
            </div>
            </div>
        </li>
        
        <li class="list-group-item">
            <div class="row">
            <div class="col-sm-2">
                <span class="badge light-blue darken-1 font-weight-bold align-middle date ml-1" style="font-size: 90%">
                &nbsp; 2024-07 &nbsp;
                </span>
            </div>
            <div class="col-sm-8" style="margin-left:-2rem;">
                Invited talk at Tsinghua University, Department of Computer Science
            </div>
            <div class="col-sm-2">
                <a href="https://www.cs.tsinghua.edu.cn/csen/info/1083/4505.htm" target="_blank" rel="noopener noreferrer">abstract</a>  
            </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
            <div class="col-sm-2">
                <span class="badge light-blue darken-1 font-weight-bold align-middle date ml-1" style="font-size: 90%">
                &nbsp; 2024-06 &nbsp;
                </span>
            </div>
            <div class="col-sm-8" style="margin-left:-2rem;">
                Invited talk at Harbin Institute of Technology (Shenzhen)
            </div>
            <div class="col-sm-2">
            </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
            <div class="col-sm-2">
                <span class="badge light-blue darken-1 font-weight-bold align-middle date ml-1" style="font-size: 90%">
                &nbsp; 2024-05 &nbsp;
                </span>
            </div>
            <div class="col-sm-8" style="margin-left:-2rem;">
                Invited talk at Xi'an Jiaotong University
            </div>
            <div class="col-sm-2">
            </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
            <div class="col-sm-2">
                <span class="badge light-blue darken-1 font-weight-bold align-middle date ml-1" style="font-size: 90%">
                &nbsp; 2024-03 &nbsp;
                </span>
            </div>
            <div class="col-sm-8" style="margin-left:-2rem;">
                Invited Talk at Uiversity of Arizona
            </div>
            <div class="col-sm-2">
            </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
            <div class="col-sm-2">
                <span class="badge light-blue darken-1 font-weight-bold align-middle date ml-1" style="font-size: 90%">
                &nbsp; 2024-02 &nbsp;
                </span>
            </div>
            <div class="col-sm-8" style="margin-left:-2rem;">
                Invited Talk at Singapore Management University
            </div>
            <div class="col-sm-2">
            </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
            <div class="col-sm-2">
                <span class="badge light-blue darken-1 font-weight-bold align-middle date ml-1" style="font-size: 90%">
                &nbsp; 2024-02 &nbsp;
                </span>
            </div>
            <div class="col-sm-8" style="margin-left:-2rem;">
                Invited Talk at Uiversity of California, Merced
            </div>
            <div class="col-sm-2">
            </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
            <div class="col-sm-2">
                <span class="badge light-blue darken-1 font-weight-bold align-middle date ml-1" style="font-size: 90%">
                &nbsp; 2024-01 &nbsp;
                </span>
            </div>
            <div class="col-sm-8" style="margin-left:-2rem;">
                Invited Talk at Arizona State university
            </div>
            <div class="col-sm-2">
            </div>
            </div>
        </li>
        
        </ul>
    </div>

    <!-- Talk Title 2 -->
    <div class="p-3">
        <div class="row ml-1">
            <div class="col-sm-10">
                <h5 style="color: #0076df;">Combating Misinformation in the age of LLMs</h5>
            </div>
            <div class="col-sm-2">
                {% comment %} <a class="badge blue waves-effect" role="button" style="font-size: 1rem; margin-left:3rem;" href="">Slides</a> {% endcomment %}
            </div>
        </div>
        
        <ul class="card-text font-weight-light list-group list-group-flush">
        
            <li class="list-group-item">
                <div class="row">
                <div class="col-sm-2">
                    <span class="badge light-blue darken-1 font-weight-bold align-middle date ml-1" style="font-size: 90%">
                    &nbsp; 2023-12 &nbsp;
                    </span>
                </div>
                <div class="col-sm-8" style="margin-left:-2rem;">
                    Invited talk at NUS Centre for Trusted Internet and Community
                </div>
                <div class="col-sm-2">
                    <a href="https://speakerdeck.com/teacherpeterpan/combating-misinformation-in-the-age-of-llms" target="_blank" rel="noopener noreferrer">slides</a>
                    &nbsp; &nbsp; 
                    <a href="https://x.com/nuscticnus/status/1732604461888291066?s=20" target="_blank" rel="noopener noreferrer">report</a>
                </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                <div class="col-sm-2">
                    <span class="badge light-blue darken-1 font-weight-bold align-middle date ml-1" style="font-size: 90%">
                    &nbsp; 2023-02 &nbsp;
                    </span>
                </div>
                <div class="col-sm-9" style="margin-left:-2rem;">
                    Invited talk at Mohamed bin Zayed University of Artificial Intelligence (MBZUAI)
                </div>
                <div class="col-sm-1">
                </div>
                </div>
            </li>

        </ul>
    </div>


    <!-- Talk Title 3 -->
    <div class="p-3">
        <div class="row ml-1">
            <div class="col-sm-10">
                <h5 style="color: #0076df;">Towards Generating Deep Questions from Text</h5>
            </div>
            <div class="col-sm-2">
                {% comment %} <a class="badge blue waves-effect" role="button" style="font-size: 1rem; margin-left:3rem;" href="">Slides</a> {% endcomment %}
            </div>
        </div>
        
        <ul class="card-text font-weight-light list-group list-group-flush">
        
            <li class="list-group-item">
                <div class="row">
                <div class="col-sm-2">
                    <span class="badge light-blue darken-1 font-weight-bold align-middle date ml-1" style="font-size: 90%">
                    &nbsp; 2022-04 &nbsp;
                    </span>
                </div>
                <div class="col-sm-9" style="margin-left:-2rem;">
                    Invited talk at Singapore Management University
                </div>
                <div class="col-sm-1">
                </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                <div class="col-sm-2">
                    <span class="badge light-blue darken-1 font-weight-bold align-middle date ml-1" style="font-size: 90%">
                    &nbsp; 2022-03 &nbsp;
                    </span>
                </div>
                <div class="col-sm-8" style="margin-left:-2rem;">
                    Invited talk at Pie & AI: Singapore, organized by deeplearning.ai
                </div>
                <div class="col-sm-2">
                    <a href="https://speakerdeck.com/wingnus/applications-of-question-generation-in-nlp" target="_blank" rel="noopener noreferrer">slides</a>
                    &nbsp; &nbsp; 
                    <a href="https://www.eventbrite.com/e/pie-ai-singapore-applications-of-question-generation-in-nlp-tickets-304213690337#" target="_blank" rel="noopener noreferrer">report</a>
                </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                <div class="col-sm-2">
                    <span class="badge light-blue darken-1 font-weight-bold align-middle date ml-1" style="font-size: 90%">
                    &nbsp; 2021-08 &nbsp;
                    </span>
                </div>
                <div class="col-sm-8" style="margin-left:-2rem;">
                    Monthly NLP Talks at NTU-NLP
                </div>
                <div class="col-sm-2">
                    <a href="https://ntunlpsg.github.io/talk/liangming/" target="_blank" rel="noopener noreferrer">abstract</a>
                    &nbsp;
                    <a href="https://www.youtube.com/watch?v=CAJJJOoS-q4&t=559s" target="_blank" rel="noopener noreferrer">video</a>
                </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                <div class="col-sm-2">
                    <span class="badge light-blue darken-1 font-weight-bold align-middle date ml-1" style="font-size: 90%">
                    &nbsp; 2021-02 &nbsp;
                    </span>
                </div>
                <div class="col-sm-9" style="margin-left:-2rem;">
                    Invited talk at National University of Singapore
                </div>
                <div class="col-sm-1">
                </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                <div class="col-sm-2">
                    <span class="badge light-blue darken-1 font-weight-bold align-middle date ml-1" style="font-size: 90%">
                    &nbsp; 2020-08 &nbsp;
                    </span>
                </div>
                <div class="col-sm-9" style="margin-left:-2rem;">
                    Invited talk at Fudan University
                </div>
                <div class="col-sm-1">
                </div>
                </div>
            </li>

        </ul>
    </div>
    </div>

    <!-- Teaching -->
    <br/>
    <br/>
    <h1 id="invited-talks">Teaching</h1>
    <div class="card mt-3">
    <div class="p-3">
        <ul class="card-text font-weight-light list-group list-group-flush">
        
            <li class="list-group-item">
                <div class="row">
                <div class="col-sm-10">
                    (Winter 2023: <b>Guest Lecturer</b>, UC Santa Barbara): CS165B - Machine Learning
                </div>
                <div class="col-sm-2">
                    <a href="http://william.cs.ucsb.edu/courses/index.php/Winter_2023_CS165B_Machine_Learning" target="_blank" rel="noopener noreferrer">link</a> 
                </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                <div class="col-sm-10">
                    (Fall 2020: <b>Head TA</b>, National University of Singapore): CS4248 - Natural Language Processing
                </div>
                <div class="col-sm-2">
                    <a href="https://knmnyn.github.io/cs4248-2020/" target="_blank" rel="noopener noreferrer">link</a> 
                </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                <div class="col-sm-10">
                    (Spring 2019: <b>TA</b>, National University of Singapore): CS4242 - Social Media Computing
                </div>
                <div class="col-sm-2">
                    <a href="" target="_blank" rel="noopener noreferrer">link</a> 
                </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                <div class="col-sm-10">
                    (Fall 2018: <b>Head TA</b>, National University of Singapore): CS3244 - Machine Learning
                </div>
                <div class="col-sm-2">
                    <a href="" target="_blank" rel="noopener noreferrer">link</a> 
                </div>
                </div>
            </li>

        </ul>
    </div>
    </div>
</article>